[Unit]
Description=Run certbot certonly, get cert for drbean server
OnFailure=status-email-drbean@%p.service

[Service]
Type=oneshot
Nice=19
ExecStart=/usr/bin/certbot certonly --apache --domains sac.nuu.edu.tw --non-interactive

[Install]
WantedBy=multi-user.target
