[Unit]
Description=Run certbot certonly --webroot, get cert for momo.mydns.jp

[Timer]
OnCalendar=*:3/12
Unit=apply_cert.service

[Install]
WantedBy=timers.target
