[Unit]
Description=Run certbot certonly --webroot, get cert for momo.mydns.jp
OnFailure=status-email-drbean@%p.service

[Service]
Type=oneshot
Nice=19
ExecStart=/usr/bin/certbot certonly --standalone --domains momo.mydns.jp --non-interactive

[Install]
WantedBy=multi-user.target
