# local

screen 3
stuff "cd ~/stow/^M"
stuff "ls -al^M"
stuff "declare -a cmd=( \"active_tooter\" \"blog.sh\" \"common.sh\" \"easyblogger\" \"masto_master_messter\" \"post.sh\" \"toot\" \"trurl\")^M"
stuff "declare -A key_cmd=( [mastodon]=\"{active_tooter,masto_master_messter}\" [homepage/markdown]=\"common.sh\" [.]=\"{blog.sh,post.sh}\" [posse/easyblogger/.venv39/bin]=\"easyblogger\" [../../dot/browser/toot/.venv.39/bin]=\"toot\" [../../edit/email/trurl]=\"trurl.exe\")^M"
stuff "for dir in \${!key_cmd[*]} ; do for app in \$(eval echo \${key_cmd[\$dir]})  ; do echo \$dir: \$app ; diff -u ~/curriculum/pages/\$dir/\$app ~/stow/local/bin/\$app ; done ; done^M"
stuff "# for dir in \${!key_cmd[@]} ; do for app in \${!key_cmd[\$dir]} ; do diff -u ~/curriculum/pages/\$dir/\$app ~/stow/local/bin/\$app ; done ; done^M"
stuff "# for app in \${cmd[@]} ; do diff -u  ~/stow/local/bin/\$app /usr/local/bin/\$app ; done^M"
stuff "# for app in \${cmd[@]} ; do rm ~/stow/local/bin/\$app ; done^M"
stuff "# for app in \${cmd[@]} ; do ln ~/curriculum/pages/homepage/markdown/\$app ~/stow/local/bin/\$app ; done^M"
stuff "# for dir in \${!key_cmd[@]} ; do"
stuff "    for appl in \${key_cmd[\$dir]} ; do"
stuff "	    echo appl: \${appl[@]} ; for app in \$(eval echo \$appl) ; do"
stuff "            echo app: \$app ;"
stuff "            diff -u ~/curriculum/pages/\$dir/\$app ~/stow/local/bin/\$app ;"
stuff "        done ;"
stuff "    done ;"
stuff " done^M"
stuff "for dir in \${!key_cmd[@]} ; do 
    for app in \${!key_cmd[\$dir]} ; do
        ln ~/curriculum/local/\$dir/\$app ~/stow/local/bin/\$app
    done ; done^M"
stuff "# stow -n --verbose=2 -t /usr/local -d ~drbean/stow -R local^M"

# root Azy4476

stuff "ssh root^M"
-
