# svn post-commit

screen 2
stuff "cd ~/stow/^M"
stuff "ls -al^M"
stuff "declare -a hook=( post-commit )^M"
stuff "echo \${hook[@]}^M"
stuff "for h in \${hook[@]} ; do diff -u ~/dot/vcs/svn/hooks/\$h ~/stow/hooks/\$h ; done^M"
stuff "for h in \${hook[@]} ; do diff -u ~/dot/vcs/svn/hooks/\$h /srv/svn/esprimo/hooks/\$h ; done^M"
stuff "# rm ~/stow/hooks/*^M"
stuff "# for h in \${hook[@]} ; do ln ~/dot/vcs/svn/hooks/\$r ~/stow/hooks/\$h ; done^M"
stuff "# stow -n --verbose=2 -t /srv/svn/esprimo -d ~drbean/stow -R hooks^M"

# root Azy4476

stuff "ssh root^M"
