screen 1
stuff "svn st -q^M svn log -vr BASE:HEAD^M"
stuff "# svn mkdir ./$TOPIC && lftp -c 'open web.nuu.edu.tw && cd public_html/ && mkdir $VIEW && qui'^M"
stuff "pandoc -s -t beamer -V theme:Szeged -V colortheme:beaver --latex-engine=xelatex --variable=CJKmainfont:'WenQuanYi Zen Hei' --variable=CJKmonofont:'WenQuanYi Zen Hei Mono' ./$TOPIC/$STORY/slides.md -o ./$TOPIC/$STORY/slides.pdf && lftp -c 'open web.nuu.edu.tw && cd public_html/$VIEW && put ./$TOPIC/$STORY/slides.pdf && qui'^M"
stuff "# pandoc -s -t html --self-contained --variable=CJKmainfont:'WenQuanYi Zen Hei' --variable=CJKmonofont:'WenQuanYi Zen Hei Mono' ./$TOPIC/$STORY.md -o ./$TOPIC/$STORY.html && lftp -c 'open web.nuu.edu.tw && cd public_html/$VIEW && put ./$TOPIC/$STORY.html && qui'^M"
stuff "# vroom -html ./$TOPIC && lftp -c 'open web.nuu.edu.tw && cd public_html/$VIEW && mput ./$TOPIC/html/*.html && qui'^M"
stuff "# xelatex bingo.tex && evince bingo.pdf^M"
stuff "# cat ./$TOPIC/{dic,bingo}_${STORY}_$FORM.tex ./$TOPIC/dic_${STORY}_$(($FORM+1)).tex >> bingo.tex^M"
stuff "# ~/ttb/cards/bingo/bingo.pl -n 15 -s $STORY -f $FORM ./$TOPIC && xelatex --output-directory=./$TOPIC ./$TOPIC/bingo_${STORY}_$FORM.tex && evince ./$TOPIC/bingo_${STORY}_$FORM.pdf^M"
stuff "# cp $TOPIC/bingo_${STORY}_$FORM.pdf ~/media/^M"
stuff "# ~/ttb/cards/flash.pl -n 8 -s $STORY -f $FORM ./$TOPIC && xelatex --output-directory=./$TOPIC ./$TOPIC/flash_${STORY}_$FORM.tex && evince ./$TOPIC/flash_${STORY}_$FORM.pdf^M"
stuff "# lpr $TOPIC/bingo_${STORY}_$FORM.pdf^M"
stuff "# lpr -o sides=two-sided-long-edge $TOPIC/flash_${STORY}_$FORM.pdf^M"
stuff "# svn add $TOPIC/{dic,cards}.yaml && svn ci $TOPIC/{dic,cards}.yaml -m $TOPIC:$STORY:$FORM^M"
stuff "# perl ~/ttb/dictation/script/dic text -c ctest -s $STORY -f $(($FORM+1)) -t $TOPIC -p a7 && xelatex --output-directory=/home/drbean/curriculum/topics/$TOPIC ./$TOPIC/dic_${STORY}_$(($FORM+1)).tex && evince ./$TOPIC/dic_${STORY}_$(($FORM+1)).pdf^M"
stuff "# perl ~/ttb/dictation/script/dic text -c ctest -s $STORY -f $FORM -t $TOPIC -p a7 && xelatex --output-directory=/home/drbean/curriculum/topics/$TOPIC ./$TOPIC/dic_${STORY}_${FORM}.tex && evince ./$TOPIC/dic_${STORY}_${FORM}.pdf^M"
stuff "# lpr $TOPIC/dic_${STORY}.pdf^M"
stuff "# yaml2gift encode -c $COURSE -t $TOPIC -s $STORY -f $FORM > ${TOPIC}/quiz_${TOPIC}_${STORY}_${FORM}.gift^M"
screen 2
stuff "# perl ../cclass/cards.pl -t ./$TOPIC && xelatex ./\$TOPIC/jigsaw_${STORY}_$FORM.tex && evince jigsaw_${STORY}_$FORM.pdf^M"
stuff "# perl ../cclass/cards.pl -t ./$TOPIC && xelatex ./\$TOPIC/quiz_${STORY}_$FORM.tex && evince quiz_${STORY}_$FORM.pdf^M"
stuff "# mount ~/media/^M"
stuff "# cp jigsaw_${STORY}_$FORM.pdf quiz_${STORY}_$FORM.pdf ~/media/^M"
stuff "# umount ~/media/^M"
screen 5 lftp greg@web.nuu.edu.tw
stuff "# mkdir /public_html/$VIEW^M"
stuff "cd /public_html/$VIEW^M"
stuff "# put $TOPIC/dic_${STORY}_$FORM.pdf^M"
stuff "# put $TOPIC/bingo_${STORY}_$FORM.pdf^M"
stuff "# put bingo.pdf^M"
stuff "# put jigsaw_${STORY}_$FORM.pdf^M"
stuff "# put quiz_${STORY}_$FORM.pdf^M"
screen 0
stuff "v ./$TOPIC/dic.yaml ./$TOPIC/cards.yaml ./$TOPIC/slides.md ./$TOPIC/$STORY.md"
