screen 0
stuff "v ./$TOPIC/dic.yaml ./$TOPIC/cards.yaml ./$TOPIC/slides.md ./$TOPIC/$STORY.md /var/lib/moodle/repository/$TOPIC/quiz_${STORY}_${QUIZ}_$FORM.gift online/default.yaml online/\$TOPIC.yaml"

screen 1
stuff "svn st -q^M svn log -vr BASE:HEAD^M"
stuff "# moopl intro -c $COURSE -t $TOPIC -s $STORY -a ${TYPE:-\"description\"} -f $FORM > $HOME/curriculum/$COURSE/$TOPIC/intro.md^M"
stuff "# svn mkdir ./$TOPIC && lftp -c 'open greg@web.nuu.edu.tw && cd public_html/ && mkdir $VIEW && qui'^M"
stuff "# vroom -html ./$TOPIC && lftp -c 'open greg@web.nuu.edu.tw && cd public_html/$VIEW && mput ./$TOPIC/html/*.html && qui'^M"
stuff "# xelatex bingo.tex && evince bingo.pdf^M"
stuff "# cat ./$TOPIC/dic_${STORY}_$FORM.tex ./$TOPIC/dic_${STORY}_$(($FORM+1)).tex ./$TOPIC/bingo_${STORY}_$FORM.tex >> bingo.tex^M"
stuff "# FORM=$FORM; ~/ttb/cards/bingo/bingo.pl -n 15 -s $STORY -f \$FORM ./$TOPIC && xelatex --output-directory=./$TOPIC ./$TOPIC/bingo_${STORY}_\$FORM.tex && lftp -c \"open greg@web.nuu.edu.tw &&& cd public_html/$COURSE && put ./$TOPIC/bingo_${STORY}_\$FORM.pdf\" # evince ./$TOPIC/bingo_${STORY}_\$FORM.pdf^M"
stuff "# cp $TOPIC/bingo_${STORY}_$FORM.pdf ~/media/^M"
stuff "# ~/ttb/cards/flash_a6.pl -n 8 -s $STORY -f $FORM ./$TOPIC && xelatex --output-directory=./$TOPIC ./$TOPIC/flash_${STORY}_$FORM.tex && lftp -c 'open greg@web.nuu.edu.tw &&& cd public_html/$COURSE && put ./$TOPIC/flash_${STORY}_$FORM.pdf' # evince ./$TOPIC/flash_${STORY}_$FORM.pdf^M"
stuff "# FORM=$FORM; ~/ttb/cards/flash.pl -n 4 -s $STORY -f \$FORM ./$TOPIC && xelatex --output-directory=./$TOPIC ./$TOPIC/flash_${STORY}_\$FORM.tex && lftp -c \"open greg@web.nuu.edu.tw &&& cd public_html/$COURSE && put ./$TOPIC/flash_${STORY}_\$FORM.pdf\" # evince ./$TOPIC/flash_${STORY}_\$FORM.pdf^M"
stuff "# lpr $TOPIC/bingo_${STORY}_$FORM.pdf^M"
stuff "# lpr -o sides=two-sided-long-edge $TOPIC/flash_${STORY}_$FORM.pdf^M"
stuff "# svn add $TOPIC/${STORY}.md && svn ci $TOPIC/${STORY}.md -m $TOPIC:$STORY:$FORM^M"
stuff "# svn add $TOPIC/{dic,cards}.yaml && svn ci $TOPIC/{dic,cards}.yaml -m $TOPIC:$STORY:$FORM^M"
stuff "# svn add online/\$TOPIC.yaml^M"
stuff "# perl ~/ttb/dictation/script/dic text -c ctest -s $STORY -f $(($FORM+1)) -t $TOPIC -p a7 && xelatex --output-directory=$HOME/curriculum/$COURSE/$TOPIC ./$TOPIC/dic_${STORY}_$(($FORM+1)).tex && evince ./$TOPIC/dic_${STORY}_$(($FORM+1)).pdf^M"
stuff "# FORM=$FORM; ~/ttb/dictation/script/text_dic $COURSE ctest $STORY \$FORM $TOPIC a7 && xelatex --output-directory=$HOME/curriculum/$COURSE/$TOPIC ./$TOPIC/dic_${STORY}_\$FORM.tex && lftp -c \"open greg@web.nuu.edu.tw && cd public_html/$COURSE && put ./$TOPIC/dic_${STORY}_\$FORM.pdf\" # evince ./$TOPIC/dic_${STORY}_\$FORM.pdf^M"
stuff "# FORM=$FORM; perl ~/ttb/dictation/script/dic text -c $COURSE -z ctest -s $STORY -f \$FORM -t $TOPIC -p a7 && xelatex --output-directory=$HOME/curriculum/$COURSE/$TOPIC ./$TOPIC/dic_${STORY}_\$FORM.tex && lftp -c \"open greg@web.nuu.edu.tw && cd public_html/$COURSE && put ./$TOPIC/dic_${STORY}_\$FORM.pdf\" # evince ./$TOPIC/dic_${STORY}_\$FORM.pdf^M"
stuff "# lpr $TOPIC/dic_${STORY}.pdf^M"
stuff "# sudo mkdir /var/lib/moodle/repository/$TOPIC && sudo chown apache:moodle /var/lib/moodle/repository/$TOPIC && sudo chmod 777 /var/lib/moodle/repository/$TOPIC^M"
stuff "# FORM=$FORM; STORY=$STORY; QUIZ=$QUIZ; TOPIC=$TOPIC; for format in gift xml ; do moopl \$format -c $COURSE -t \$TOPIC -s \$STORY -q \$QUIZ -f \$FORM > /var/lib/moodle/repository/\${TOPIC}/quiz_\${STORY}_\${QUIZ}_\${FORM}.\$format ; done^M"

screen 2
stuff "# perl ../cclass/cards.pl -t ./$TOPIC && xelatex ./\$TOPIC/jigsaw_${STORY}_$FORM.tex && evince jigsaw_${STORY}_$FORM.pdf^M"
stuff "# perl ../cclass/cards.pl -t ./$TOPIC && xelatex ./\$TOPIC/quiz_${STORY}_$FORM.tex && evince quiz_${STORY}_$FORM.pdf^M"
stuff "# mount ~/media/^M"
stuff "# cp jigsaw_${STORY}_$FORM.pdf quiz_${STORY}_$FORM.pdf ~/media/^M"
stuff "# umount ~/media/^M"
screen 5 lftp greg@web.nuu.edu.tw
stuff "# mkdir /public_html/$VIEW^M"
stuff "cd /public_html/$VIEW^M"
stuff "# put $TOPIC/${STORY}.html^M"
stuff "# put $TOPIC/dic_${STORY}_$FORM.pdf^M"
stuff "# put $TOPIC/bingo_${STORY}_$FORM.pdf^M"
stuff "# put jigsaw_${STORY}_$FORM.pdf^M"
stuff "# put quiz_${STORY}_$FORM.pdf^M"
stuff "# open freeshell.org^M"
stuff "# put bingo.pdf && open freeshell.org && put bingo.pdf^M"

screen 6
stuff "#dtach -A /tmp/\$COURSE v online/{default,\$TOPIC.yaml ../online/default.yaml^M"
stuff "# dtach -a /tmp/\$COURSE^M"
stuff "# v online/*.yaml^M"

source pandoc.rc
