screen
stuff "# v^M"
# stuff ":e "

screen
stuff "# for c in langcjk xetex latexextra fontsrecommended pictures ; do tlmgr info collection-$c ; done^M"
stuff "# for c in langcjk xetex latexextra fontsrecommended pictures ; do tlmgr install collection-$c ; done^M"

screen
stuff "# for m in moosh moodle ; do git clone --depth 5 --no-single-branch http://github.com/drbean/\$m ; done && mkdir --parent /var/www/cgi-bin && mv moodle/ /var/www/cgi-bin/moodle/^M"
stuff "# for m in dot curriculum ttb ; do svn co http://github.com/drbean/\$m/trunk \$m ; done^M"
stuff "for ext in rc _profile ; do cp ~/dot/bash/bash\$ext ~/.bash\$ext ; done^M"
stuff "# . ~/dot/alternatives.txt^M"

screen 4
stuff "# sed -iBAK -r -e \"s/\^INITDB_ARGS=.*$/INITDB_ARGS=\\\"-E UTF8 --locale=en_US.UTF-8 -D \\\$PGDATA\\\"/\" /etc/rc.d/init.d/postgresql^M"
stuff "# diff -u /etc/rc.d/init.d/postgresql{BAK,}^M"
stuff "# cygserver-config^M"
stuff "# cygrunsrv --start cygserver^M"
stuff "# /etc/rc.d/init.d/postgresql initdb^M"
stuff "# /etc/rc.d/init.d/postgresql install^M"
stuff "# /etc/rc.d/init.d/postgresql start^M"
stuff "# psql -U SYSTEM postgres^M"
stuff "-- \i ~/dot/postgres/cygwin.txt^M"
