screen 1
stuff "# for v in svn git ; do \$v add \$SOURCE.tex ; done^M"
stuff "# echo -e '\\nsvn: '; svn st -q \$SOURCE.tex ; echo -e '\\nand\\n' ; echo -n 'git: '; git status SOURCE.tex | sed -nE '/modified|branch/p'^M"
stuff "ls^M"
stuff "svn diff --diff-cmd $VD"

screen 2
stuff "# for o in touch rm ; do \$o output/\$SOURCE.pdf ; done && xelatex --output-directory=output \$SOURCE.tex && cygstart output/\$SOURCE.pdf^M"

screen 3
stuff "# /cygdrive/c/Program\ Files\ \(x86\)/Microsoft\ Office/root/Office16/WINWORD.EXE output/\$SOURCE.pdf^M"
stuff "# cygstart \$SOURCE.pdf^M"

screen 5
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit/\$s && put output/\$s.pdf -o invoice.pdf && qui\"^M"

screen 6
stuff "# for v in svn git ; do \$v add \$SOURCE.tex ; done ; done^M"
stuff "# for v in svn git ; do echo \$v: ; \$v status ; \$v diff ; done^M"

screen 9
stuff "tlmgr --help^M"

screen 0
stuff "v --cmd 'set spellfile=spell.en.utf-8.add' \$SOURCE.tex^M"
