screen 1
stuff "ls^M"
stuff "# grep -r ^M"
stuff "svn diff --diff-cmd $VD"

screen 2
stuff "# pandoc -o reference.docx --print-default-data-file reference.docx^M"
stuff "# svn add reference.docx^M"
stuff "# svn ci reference.docx -m styles_for_$SOURCE^M"
stuff "# mv {,orig_}\$FILE.docx^M"
stuff "# cp {orig,their}_$FILE.docx^M"
stuff "# cp {orig_,}\$FILE.md^M"
stuff "# pandoc -o orig_\$FILE.md --from=docx+styles --to=markdown-link_attributes --extract-media=./ \$FILE.docx^M"
stuff "# MINE=my_\$FILE; pandoc -o \$MINE.docx --reference-doc=./\$FILE.docx \$FILE.md "
stuff "# && /cygdrive/c/Program\ Files\ \(x86\)/Microsoft\ Office/root/Office16/WINWORD /t \$MINE.docx^M"
stuff "# /cygdrive/c/Program\ Files\ \(x86\)/Microsoft\ Office/root/Office16/WINWORD.EXE \$FILE.docx^M"

screen 3
stuff "/cygdrive/c/Program\ Files\ \(x86\)/Microsoft\ Office/root/Office16/WINWORD.EXE my_\$FILE.docx"

screen 4
stuff "/cygdrive/c/Program\ Files\ \(x86\)/Microsoft\ Office/root/Office16/WINWORD.EXE their_\$FILE.docx"

screen 5
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd html && put Diff.html -o \${s}_Diff.html && qui\"^M"
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit && put -O \$s their_\$f.docx -o their_\$f.docx && qui\"^M"
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit && get \$s/their_\$f.docx -o their_\$f.docx && qui\"^M"
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit && get \$s/\$f.docx -o \$f.docx && qui\"^M"

screen 6
stuff "/cygdrive/c/Program\ Files\ \(x86\)/Microsoft\ Office/root/Office16/WINWORD.EXE orig_\$FILE.docx"

screen 9
stuff "# man pandoc_markdown^M"
stuff "man pandoc^M"

screen 0
stuff "v $FILE.md^M"
