screen 1
stuff "cd ~/profedit^M"
stuff "# mv \$SOURCE ~/profedit/orig.\$SOURCE^M"
stuff "# git init \$SOURCE^M"
stuff "# cd ~/profedit/\$SOURCE^M"
stuff "# git remote add origin https://github.com/drbean/edit^M"
stuff "# mv .git ../orig.\$SOURCE^M"
stuff "# cd ~/profedit && rmdir \$SOURCE^M"
stuff "# mv ~/profedit/orig.\$SOURCE \$SOURCE^M"
stuff "# git add \$FILE.md && git commit \$FILE.md^M"
stuff "# git branch --set-upstream-to=remotes/origin/\$SOURCE^M"
stuff "# git push origin HEAD:\$SOURCE^M"
stuff "# git config --local push.default upstream^M"
stuff "# git push  --dry-run^M"
stuff "# git pull origin \$SOURCE^M"
stuff "# git merge --no-ff --allow-unrelated-histories^M"
stuff "# mv ~/profedit/\$SOURCE/.git ~/profedit^M"
stuff "# echo contact details > ~/profedit/\$SOURCE/svn-commit.tmp^M"
stuff "# svn mkdir file:///srv/svn/esprimo/edit/branch/\$SOURCE -F svn-commit.tmp^M"
stuff "# echo their_\$FILE_filename.docx > ~/profedit/\$SOURCE/svn-commit.tmp^M"
stuff "cd ~/profedit^M"
stuff "# svn import \$SOURCE file:///srv/svn/esprimo/edit/branch/\$SOURCE -F svn-commit.tmp^M"
stuff "# svn checkout file:///srv/svn/esprimo/edit/branch/\$SOURCE --force^M"
stuff "# mv ~/profedit/.git ~/profedit/\$SOURCE^M"
stuff "cd ~/profedit/\$SOURCE^M"
stuff "# for v in svn git ; do \$v add \$FILE.md issues.md ; done^M"
stuff "# echo -e '\\nsvn: '; svn st -q \$FILE.md issues.md; echo -e '\\nand\\n' ; echo -n 'git: '; git status $FILE.md issues.md | sed -nE '/modified|branch/p'^M"
stuff "# svn diff -r 1513:HEAD $F^M"
stuff "svn diff --diff-cmd $VD"

screen 2
stuff "# for o in touch rm ; do \$o output/\$FILE.pdf ; done && xelatex --output-directory=output \$FILE.tex && cygstart output/\$FILE.pdf^M"
stuff "# cd \$REPO^M"
stuff "# pandoc -o \$FILE.reference.docx --print-default-data-file reference.docx^M"
stuff "# svn add reference.docx^M"
stuff "# svn ci reference.docx -m styles_for_$SOURCE^M"
stuff "# mv {,orig_}\$FILE.docx^M"
stuff "# cp {orig_,their_}$FILE.docx^M"
stuff "# cp {orig_,}\$FILE.md^M"
stuff "# pandoc -o orig_\$FILE.md --from=docx+styles --to=markdown-link_attributes --extract-media=./ \$FILE.docx^M"
stuff "# MINE=my_\$FILE; pandoc -o \$MINE.docx --reference-doc=./\$FILE.reference.docx \$FILE.md "

screen 3
stuff "# cygstart /cygdrive/c/Program\ Files\ \(x86\)/Microsoft\ Office/root/Office16/WINWORD.EXE^M"
stuff "# cygstart media/*^M"
stuff "# cygstart \$FILE.reference.docx^M"
stuff "# cygstart Diff.html^M"
stuff "# cygstart my_\$FILE.docx^M"
stuff "# cygstart their_\$FILE.docx^M"
stuff "# cygstart orig_\$FILE.docx^M"

screen 5
stuff "# s=$SOURCE f=$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit && put -O \$f output/\$f.pdf -o invoice.pdf && qui\"^M"
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit && put -O \$s Diff.html -o \${f}_Diff.html && qui\"^M"
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit && put -O \$s their_\$f.docx -o their_\$f.docx && qui\"^M"
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit && get \$s/their_\$f.docx -o their_\$f.docx && qui\"^M"
stuff "# s=\$SOURCE f=\$FILE ; lftp -c \"open sftp://drbean@freeshell.org && cd edit && get \$s/\$f.docx -o \$f.docx && qui\"^M"

screen 9
stuff "man git-config^M"

screen 0
stuff "v --cmd 'set spellfile=spell.en.utf-8.add' \$REPO/{\$FILE,issues}.md^M"
