# screen 4
# # old commands
# # format address file, removing dupes
# stuff "# for department in $DEPARTMENT ; do while IFS= read -r address ; do if ! ( ack \"\^\$address\$\" $SCHOOL/sent_address.txt > /dev/null ) ; then printf '%s\\n' \"\$address\" >> $SCHOOL/\${department}_new_address.txt ; fi ; done < $SCHOOL/\${department}_0.txt && wc $SCHOOL/\${department}_0.txt $SCHOOL/\${department}_new_address.txt ; done ^M"
# # send mails

screen 1
stuff "mosh drbean@sdf.org --server='LANG=en_US.UTF-8 mosh-server'^M"

screen 3
## prep my_word
#stuff "declare +i wc=\$(wc -l \$AREA/\$COUNTY/*/address.txt | tail -n 1 | ^M"
#stuff "	cut -c 3,4,5,6,7)^M"
#stuff "# sed -n -e \"/\^overtrain$/,+\$((\$wc+300))p\" /usr/share/dict/words > my_word.txt^M"
#stuff "# for f in my_word* ; do for op in head tail ; do echo -n \"\$op \$f: \" && \$op -n 1 \$f ; done && echo ;  done^M"
#stuff "# echo 100 > next^M"

# AREALIST, COUNTYLIST, SCHOOLLIST
stuff "declare -a AREALIST=(north mid south eastisland pusan kyengsang)^M"
stuff "declare -A COUNTYLIST SCHOOLLIST^M"
stuff "for a in \${AREALIST[*]} ; do COUNTYLIST[\$a]=\$(ls \$a | sed '/\^[0-9]*$/d ; /\.txt/d' ) ; done^M"
stuff "for c in \${COUNTYLIST[\$AREA]} ; do SCHOOLLIST[\$c]=\$( ls \$AREA/\$c | sed '/\.txt$/d' | tr '\\n' ' ' ); done^M"

# clean address.txt
stuff "# svn ci \$AREA/\$COUNTY/*/address.txt -m 'unescaped http web page links'^M"
stuff "# wrong_char^M"
stuff "# unescaped_uri^M"
stuff "# svn ci \$AREA/\$COUNTY/*/address.txt -m 'intrusive email chars'^M"
stuff "# eol_space^M"
stuff "# in_addr_space^M"
stuff "# svn ci \$AREA/\$COUNTY/*/address.txt -m 'intrusive, eol white space'^M"
stuff "# no_at_mark^M"
stuff "# svn ci \$AREA/\$COUNTY/*/address.txt -m 'missing @'^M"
# batch address
stuff "# cat \$AREA/\$COUNTY/*/address.txt | sort | uniq | vipe | shuf | split -a 4 -d -l 40 - $AREA/^M"
# upload batch
stuff "# AREA/COUNTY=$AREA/$COUNTY^M"
stuff "batch=$(( $(< \$AREA/batch.txt ) + 1 )) && echo \$batch | tee \$AREA/batch.txt^M"
stuff "lftp -c \"open sftp://drbean@sdf.org && cd job/\$AREA && mput \$AREA/0\$batch? && qui\"^M"
stuff "# lftp -c \"open sftp://drbean@sdf.org && cd job/\$AREA && mput \$AREA/0\$batch? && qui\"^M"
stuff "batch=00"

screen 0
stuff "screen -X bind X eval 'select 1' 'stuff \"tmux at -t \\\$AREA\^M\"' 'stuff \"../run.sh \\\$AREA \\\$BATCH\^M\"' 'select 0'  'activity \"\^GRun \\\$AREA batch \\\$BATCH in window %\"'^M"
stuff "mosh drbean@sdf.org --server='LANG=en_US.UTF-8 mosh-server'^M"
