screen 1
# status 
stuff "git status^M"
stuff "# git add $SCHOOL/${DEPARTMENT}_0.txt && git commit -m $SCHOOL/${DEPARTMENT}_0.txt^M"

screen 2
# download tweets
stuff "# export B=^M"
stuff "# export KEY=^M"
stuff "# curl -X GET -H \"Authorization: Bearer \$B\" \"https://api.twitter.com/2/tweets/search/recent?query=\$SEARCH%20lang%3Aen\" | sed -e 's/\\u/\\\\u/g' | yq e -P > \${SEARCH}_en.yaml^M"
stuff "# curl -X GET 'https://api.twitter.com/2/tweets/search/stream/rules' -H \"Authorization: Bearer \$B\"^M"
stuff "# curl \"https://youtube.googleapis.com/youtube/v3/search?part=id,snippet&fields=items%28id%28videoId%29,snippet%28title,description%29%29&maxResults=2&q=\$SEARCH&relevanceLanguage=en&order=date&key=\$KEY\" | yq e -P > \$SEARCH.yaml^M"

screen 3
# install AnyEvent
stuff "# PERL_CANARY_STABILITY_NOPROMPT=1 . ~/dot/cygwin/twitter_setup.sh^M"

screen 0
# editing
stuff "v ${SEARCH}_en.yaml^M"
