screen 1
stuff "cd ~/gf-3.7.1/^M cd -^M"
stuff "cd ~/GF/question && mkdir -p $COURSE/$TOPIC/$STORY/engine && chmod 755 $COURSE/$TOPIC/$STORY^M cd -^M"
stuff "# gftags2ctags -c $COURSE -t $TOPIC -s $STORY > $COURSE/$TOPIC/$STORY/gf_tags^M"
stuff "# echo \"--ignore-file=match:/tags$/\" > ~/GF/.ackrc^M"
stuff "# sed -i -e 's/business\/conflict\/communication\/Communication/$COURSE\/$TOPIC\/$STORY\/$MOD/g' $COURSE/$TOPIC/$STORY/WordsCharacters.hs^M"
stuff "# sed -i -e 's/Communication/$MOD/g' $COURSE/$TOPIC/$STORY/{,engine}/*.{hs,gf}^M"
stuff "# ack mkQuant */*/*/*Eng.gf^M"
stuff "# cp ~/GF/question/ghci ~/GF/question/$COURSE/$TOPIC/$STORY/.ghci && chmod 644 ~/GF/question/$COURSE/$TOPIC/$STORY/.ghci^M"
stuff "# cp ~/GF/question/$COURSE/$TOPIC/$PREVSTORY/{Model,Tests}.hs ~/GF/question/$COURSE/$TOPIC/$STORY/^M"
stuff "# cp ~/GF/question/$COURSE/$TOPIC/$PREVSTORY/$PREVMOD.gf ~/GF/question/$COURSE/$TOPIC/$STORY/$MOD.gf^M"
stuff "# cp ~/GF/question/$COURSE/$TOPIC/$PREVSTORY/${PREVMOD}Eng.gf ~/GF/question/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf^M"
stuff "# ln -s ~/GF/question/{Interpretation,Translate,LogicalForm,Evaluation}.hs ~/GF/question/$COURSE/$TOPIC/$STORY/engine/^M"
stuff "# cp ~/GF/question/My{Abstract,Concrete}.gf ~/GF/question/{Representation,Transfer}.hs ~/GF/question/$COURSE/$TOPIC/$STORY/engine/^M"
stuff "# cp ~/GF/question/Abstract.gf ~/GF/question/$COURSE/$TOPIC/$STORY/$MOD.gf^M"
stuff "# cp ~/GF/question/Concrete.gf ~/GF/question/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf^M"
stuff "# cp ~/GF/question/{Tests,Model,WordsCharacters}.hs ~/GF/question/$COURSE/$TOPIC/$STORY/^M"
stuff "# vimdiff ~/GF/question/$COURSE/$TOPIC/$STORY/engine/MyConcrete.gf ~/GF/question/MyConcrete.gf^M"
stuff "# vimdiff ~/GF/question/$COURSE/$TOPIC/$STORY/engine/MyAbstract.gf ~/GF/question/MyAbstract.gf^M"
stuff "# cd ~/GF/question && git subrepo init $COURSE/$TOPIC/$STORY --remote=http://github.com/drbean/$STORY --branch=master && git hub repo-new $STORY && git subrepo push $COURSE/$TOPIC/$STORY^M"
stuff "# for readme in ~/GF/question/$COURSE/$TOPIC/$STORY/README.md ; do cp ~/curriculum/$COURSE/$TOPIC/$STORY.md \$readme && git add \$readme; done^M"
stuff "# git add ~/GF/question/$COURSE/$TOPIC/$STORY/{{Model,Tests,WordsCharacters}.hs,$MOD{,Eng}.gf} ~/GF/question/$COURSE/$TOPIC/$STORY/engine/My{Abstract,Concrete}.gf ~/GF/question/$COURSE/$TOPIC/$STORY/engine/{Representation,Transfer}.hs^M"
stuff "git status^M"
stuff "# git fetch upstream^M"
stuff "# git merge upstream/master^M"
stuff "cd -^M"

screen 2
stuff "cd question/$COURSE/$TOPIC/$STORY^M"
stuff "gf --coding=utf8^M"
stuff "import --retain ${MOD}Eng.gf^M"

screen 3
stuff "cd question/$COURSE/$TOPIC/$STORY/^M"
stuff "# gf --make --output-format=haskell --optimize-pgf ${MOD}Eng.gf^M"
stuff "ghc -o /var/www/cgi-bin/bett/bin/Transfer_$STORY -i./:./engine ./engine/Transfer.hs && ghc -o /var/www/cgi-bin/bett/bin/Characters_$STORY -i./:./engine ~/bett/script/Characters.hs && ghc -o /var/www/cgi-bin/bett/bin/Words_$STORY -i./:./engine /var/www/cgi-bin/bett/script/Words.hs && ghc -o /var/www/cgi-bin/bett/bin/Sentences_$STORY -i./:./engine /var/www/cgi-bin/bett/script/Sentences.hs && cp ${MOD}.pgf /var/www/cgi-bin/bett/bin/${MOD}.pgf && perl /var/www/cgi-bin/bett/script/characters.pl -s $STORY && perl /var/www/cgi-bin/bett/script/words.pl -s $STORY && perl /var/www/cgi-bin/bett/script/sentences.pl -s $STORY^M"
stuff "# ghci -i./:./engine^M"
stuff "gf --make --output-format=haskell ${MOD}Eng.gf && ghci -i./:./engine^M"
stuff ":load Tests^M"
stuff "let gr = readPGF \"${MOD}.pgf\"^M":
# stuff "./Transfer_$STORY^M"
# stuff "cd -^M"

screen 4
stuff "sr W file://localhost/home/drbean/GF/gf-core/doc/gf-refman.html^M"
stuff "sr W file://localhost/home/drbean/GF/gf-core/doc/tutorial/gf-tutorial.html^M"
stuff "sr W file://localhost/home/drbean/GF/gf-rgl/lib/doc/synopsis.html^M"
stuff "sr W file://localhost/home/drbean/GF/gf-core/doc/gf-reference.html^M"
stuff "sr W file://localhost/home/drbean/GF/gf-core/doc/gf-shell-reference.html^M"
stuff "sr W file://localhost/home/drbean/GF/gf-core/doc/runtime-api.html^M"
stuff "sr W file://localhost/home/drbean/GF/gf-core/doc/gf-developers.html^M"
stuff "sr W http://hackage.haskell.org/package/gf-3.7.1/docs/PGF.html^M"
# stuff "sr W file:///usr/share/doc/ghc/html/index.html^M"
# stuff "/usr/bin/links http://hackage.haskell.org/package/gf-3.6/docs/^M"
screen 11
stuff "v -O question/$COURSE/$TOPIC/$STORY/{$MOD,engine/{Representation,LogicalForm,Translate,Interpretation,Evaluation,Transfer}}.hs"
screen 12
stuff "v -O gf-core/src/compiler/GF/Compile/PGFtoHaskell.hs gf-core/src/compiler/GF/Compile/Export.hs"
screen 13
stuff "v -O ~/GF/gf-rgl/src/prelude/Prelude.gf ~/GF/gf-rgl/src/common/CommonX.gf ~/GF/gf-rgl/src/english/{IrregEng,ParadigmsEng,ResEng,MorphoEng,CatEng,DictEng}.gf"
screen 0
# stuff "v -O question/{$COURSE/$TOPIC/$STORY/$MOD,Representation,LogicalForm,Translate,Interpretation,Evaluation,Transfer}.hs"
# stuff "v -O $(< ~/dot/gf_files.txt)"
# stuff "v -O question/Representation.hs question/MyAbstract.gf question/MyConcrete.gf question/$COURSE/$TOPIC/$STORY/${MOD}.gf question/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf question/$COURSE/$TOPIC/$STORY/Model.hs question/$COURSE/$TOPIC/$STORY/Tests.hs"
stuff "v -O question/$COURSE/$TOPIC/$STORY/engine/MyAbstract.gf question/$COURSE/$TOPIC/$STORY/engine/MyConcrete.gf question/$COURSE/$TOPIC/$STORY/${MOD}.gf question/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf question/$COURSE/$TOPIC/$STORY/WordsCharacters.hs question/$COURSE/$TOPIC/$STORY/Tests.hs"
# stuff "v -O question/$COURSE/$TOPIC/$STORY/engine/MyAbstract.gf question/$COURSE/$TOPIC/$STORY/engine/MyConcrete.gf question/$COURSE/$TOPIC/$STORY/Model.hs question/$COURSE/$TOPIC/$STORY/Tests.hs question/$COURSE/$TOPIC/$STORY/${MOD}.gf question/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf question/$COURSE/$TOPIC/$STORY/WordsCharacters.hs"
# stuff "v -O ~/class/$COURSE/$TOPIC/dic.yaml question/$COURSE/$TOPIC/$STORY/${MOD}.gf question/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf question/$COURSE/$TOPIC/$STORY/Tests.hs"
# stuff "v -O question/$COURSE/$TOPIC/$STORY/WordsCharacters.hs question/$COURSE/$TOPIC/$STORY/Model.hs question/$COURSE/$TOPIC/$STORY/Tests.hs"
