source grading_vim.rc

screen 1
stuff "# id2names.pl -l $LEAGUE && print_grades.pl > grades.txt && lftp -c 'open freeshell.org && cd html/$LEAGUE && put grades.txt && put id2names_groups.txt && open web.nuu.edu.tw && cd public_html/$LEAGUE && put grades.txt && put id2names_groups.txt && qui'^M"
stuff "# id2names.pl -l $LEAGUE && lftp -c 'open freeshell.org && cd html/$LEAGUE && put id2names_groups.txt && open web.nuu.edu.tw && cd public_html/$LEAGUE && put id2names_groups.txt && qui'^M"
stuff "# NEXTROUND=$NEXTROUND ; N=$N ; teamseat.pl -s \$NEXTROUND --latex -n \$N && xelatex session/\$NEXTROUND/teamseat.tex && evince teamseat.pdf && lpr teamseat.pdf -#1 && teamseat.pl -s \$NEXTROUND -n \$N ^M"
stuff "#NEXTROUND=$NEXTROUND ; svn mkdir session/\$NEXTROUND && mv groups.yaml session/\$NEXTROUND/groups.yaml && svn add session/\$NEXTROUND/groups.yaml && moopl group_build -l $LEAGUE && svn ci session/\$NEXTROUND -m ^M"
stuff "# moopl group_build -l $LEAGUE^M"
stuff "# create_groups.pl -s $NEXTROUND -n $N | sponge groups.yaml^M ls session/^M"
stuff "# cp teamseat.pdf ~/media/teamseat_$LEAGUE.pdf^M"
stuff "# svn ci comp/$ROUND exam/$ROUND -m $TOPIC^M"

source comp.rc
source jigsaw.rc

screen 4
stuff "re.pl --rcfile ../rc/g.rc^M"
stuff '$g->grades'
screen 5
stuff "lftp web.nuu.edu.tw^M"
stuff "cd public_html/$LEAGUE^M"
