screen 0 su -c 'v /var/lib/znc/.znc'

screen 2
stuff "cd ~/dot/znc/git^M"
stuff "# v include/znc/IRCNetwork.h"
stuff "# sudo touch include/znc/IRCNetwork.h && cmake . && make && sudo make install && sudo systemctl restart znc.service^M"

screen 3
stuff "links http://sac.nuu.edu.tw:6666"
screen 4
stuff "su -^M"
screen 9
stuff "man weechat"
screen 1
stuff "weechat-curses -r '/iset;/script'^M"
