screen

stuff "cd ~/051/$LEAGUE/exam^M"
stuff "svn up && ls ^M"
stuff "# rm $NEXTROUND -rf^M"
stuff "# score_jigsaw.pl -l $LEAGUE -r $ROUND > $ROUND/scores.yaml && grade_jigsaw.pl -l $LEAGUE -r $ROUND -n $N > $ROUND/g1.yaml && xelatex report.tex && evince report.pdf && svn add $ROUND/{round,response,scores,g1}.yaml && lftp -c 'open web.nuu.edu.tw && cd public_html/$LEAGUE && put report.pdf && put $ROUND/g1.yaml'^M"
stuff "# scantron.pl -l $LEAGUE -r $ROUND > $ROUND/response.yaml^M"
stuff "# cp ../../../051/$LEAGUE/exam/$PREVROUND/round.yaml $ROUND/round.yaml^M"
stuff "# cp ../../../051/FLA0003/exam/$ROUND/round.yaml $ROUND/round.yaml^M"
stuff "# svn mkdir $ROUND^M"
stuff " ls^M"
