screen 1
stuff "cd /srv/www/cgi-bin/moodle^M"
stuff "git status^M"
screen 2
stuff "cd /srv/www/cgi-bin/moodle/mod/quiz/report/^M"
stuff "# git hub clone moodle-quiz_tag /srv/www/cgi-bin/moodle/mod/quiz/report/\$tag^M"
stuff "# cp /srv/www/cgi-bin/moodle/mod/quiz/report/\$tag/lang/en/{quiz_tag_COURSE_WEEK,quiz_\$tag}.php^M"
stuff "# cd /srv/www/cgi-bin/moodle/mod/quiz/report/\$tag^M"
stuff "# v /srv/www/cgi-bin/moodle/{config,mod/quiz/report/\$tag/{version,db/tag,lang/en/quiz_\$tag}}.php^M"
stuff "# sed -iBAK -r -e \"s/quiz_tag_(correspondence|conversation|anime|toeic_speaking)_\$((\$WEEK-1))/quiz_\$tag/\" /srv/www/cgi-bin/moodle/config.php^M"
stuff "# sed -iBAK -r -e \"s/quiz_tag_(correspondence|conversation|anime|toeic_speaking)_\$WEEK/quiz_\$tag/\" /srv/www/cgi-bin/moodle/config.php \$HOME/moodle/moosh/Moosh/Command/Moodle26/Question/QuestionImport.php^M"
stuff "# sed -iBAK -r -e \"s/(correspondence|conversation|anime|toeic_speaking)/\$COURSE/g\" /srv/www/cgi-bin/moodle/{config,mod/quiz/report/\$tag/{version,db/tag,lang/en/quiz_\$tag}}.php^M"
stuff "# cd /srv/www/cgi-bin/moodle/mod/quiz/report/\$tag && git add version.php db/tag.php lang/en/quiz_tag_COURSE_WEEK.php && git commit -m WEEK.s/\$((\$WEEK-1))/\$WEEK/ && git push && git checkout master~1 && cd -^M"
stuff "# sed -iBAK -r -e \"s/ \$((\$WEEK-1))/ \$WEEK/g\" -e \"s/_\$((\$WEEK-1))/_\$WEEK/g\"  /srv/www/cgi-bin/moodle/mod/quiz/report/\$tag/{version,db/tag,lang/en/quiz_{tag_COURSE_WEEK,\$tag}}.php^M"
stuff "# sed -iBAK -r -e \"s/ \$((\$WEEK-1))/ \$WEEK/g\" -e \"s/_\$((\$WEEK-1))/_\$WEEK/g\"  /srv/www/cgi-bin/moodle/mod/quiz/report/\$tag/lang/en/quiz_tag_COURSE_WEEK.php^M"
stuff "# sudo systemctl stop php-fpm && sudo systemctl restart httpd && sudo systemctl status {php-fpm,httpd}^M"
stuff "# export COURSE=COURSE ; export tag=tag_\${COURSE}_$WEEK"
screen 3
stuff "cd ~/moodle/moosh^M"
stuff "# php composer-setup.php && php composer.phar install^M"
stuff "# su -c 'cp bash_completion /etc/bash_completion.d/Moosh'^M"
stuff "cd /srv/www/cgi-bin/moodle^M"
stuff "# re.pl --rcfile ~/$SEMESTER/rc/user-create.rc # change the city, school, etc^M"
stuff "# for id in {290..314} ; do Moosh -n cohort-enrol -u \$id 2L1a ; done # change ids, cohortname^M"
stuff "# Moosh -n cohort-enrol -c 20 2L1a # change courseid, cohortname^M"
stuff "# for g in {1..5} ; do Moosh group-memberadd  -g $g $((277 + $g*2 - 1))  $((277 + $g*2)) ; done^M"
stuff "# for g in {1..5} ; do Moosh group-memberadd -g $g -c 17 media_student_$(($g*2 - 1))  media_student_$(($g*2)) ; done^M"
stuff "# COURSE_ID=44 ; moopl section_populate -s 5 -q 6133 -g 633 -l 43 -m quiz_tag_\${COURSE_NAME[\$COURSE_ID]}_\$WEEK -c \$COURSE_ID -n \${COURSE_NAME[\$COURSE_ID]}^M"
stuff "# for id in {713..713} ; do cm_id \$TYPE \$id | while read -r item ; do Moosh -n activity-delete \$item ; done ; done"
screen 4
stuff "psql -p 5432 mood082^M"
screen 5
stuff "cd ~/moodle/db^M"
stuff "cd ~/moosh^M"
stuff "cd ~/moodle/^M"
stuff "# for page in faq commands dev tutorials ; do sed -i -e \"s/\/\$page/.\/\$page\/index.html/\" www/_site/*.html; ; done^M"
stuff "# for page in faq commands dev tutorials ; do sed -i -e \"s/\/\$page/..\/\$page\/index.html/\" www/_site/*/*.html; done^M"
stuff "# pandoc -o www/_site/commands/index_pandoc.html www/commands/index.md^M"
screen 8
stuff "lynk https://sac.nuu.edu.tw/cgi-bin/moodle"
screen 9
stuff "lynk file:///home/drbean/moodle/moosh/www/_site/commands/index_pandoc.html"
screen 0
stuff "cd /srv/www/cgi-bin/moodle^M"
stuff "v^M"
stuff ":e "
