screen
# stuff "ls exam/$ROUND && svn up exam/$ROUND^M"
# stuff "svn ls classwork session/$SESSION^M"
stuff "# mv ~/Downloads/$LEAGUE\ Grades-2017????_????-comma_separated.csv ./exam/$ROUND/g.csv^M"
stuff "Moosh -n sql-run \"SELECT id FROM mdl_grade_items WHERE itemname SIMILAR TO '%$TOPIC%'\"^M"
stuff "# for i in {0..11}; do Moosh -n gradebook-export -c 26 -i $((2969+$i)) -g 0 -x 1 -a 1 -d 2 -p 0 -s comma -f txt > exam/$ROUND/${TOPIC}_\$i.csv ; done^M"
stuff "# LEAGUE_ID=\${LEAGUE_ID[\$LEAGUE]} && cd /var/www/cgi-bin/moodle && Moosh -n gradeitem-list -i courseid=\$LEAGUE_ID AND itemname LIKE \\\'%${TOPIC}%\\\' | while IFS= read -r item ; do Moosh -n gradebook-export -g 0 -x 1 -a 1 -d 2 -p 0 -s comma -f txt \$item \$LEAGUE_ID > $HOME/$SEMESTER/$LEAGUE/exam/\$ROUND.\$item.csv ; done && cd -^M"
stuff "# csv2yaml exam $ROUND/g > exam/$ROUND/g.yaml^M"
stuff "# for i in {0..11} ; do csv2yaml exam $ROUND/${TOPIC}_\$i > exam/$ROUND/${TOPIC}_\$i.yaml; done^M"
stuff "# mv exam/6.csv exam/$ROUND/report.csv^M"
stuff "# csv2yaml exam $ROUND/report > exam/$ROUND/report.yaml^M"
stuff "# rm_nonmember.pl -l $LEAGUE -f exam/$ROUND/report.yaml | sponge exam/$ROUND/report.yaml^M"

screen
stuff "# cp exam/\$ROUND/g.yaml exam/\$ROUND/g.csv^M"
stuff "# cd /var/www/cgi-bin/moodle && Moosh -n gradebook-import $HOME/$SEMESTER/$LEAGUE/exam/\$ROUND/g.csv 35^M"
stuff "# re.pl --rcfile ~/$SEMESTER/rc/csv_exam_grade.rc^M"
