screen 1
stuff "cd ~/yt-dlp/english^M"
stuff "ls -al^M"
stuff "mpv "

screen 2
stuff "cd ~/yt-dlp/shakuhachi^M"
stuff "ls -al^M"
stuff "mpv "

screen 3
stuff "cd ~/yt-dlp/freejazz^M"
stuff "ls -al^M"
stuff "mpv "

