screen 0
# editing
stuff "echo -e \\\\n# http://$DEPARTMENT.$SCHOOL.edu.tw >> $COUNTY/$SCHOOL/address.txt ; v $COUNTY/$SCHOOL/address.txt ^M"

screen 1
stuff "# curl -L \"\" | sed -e '/site_content_sn=/!d' -f page.sed > scratch.html^M"
stuff "# while read p ; do curl -L \"\${p%\$\'\\r\'}\" | sed -f link.sed ; done >> $COUNTY/$SCHOOL/address.txt < scratch.html^M"
stuff "# for p in {..} ; do curl -L \"\$p\" | l ; done^M"
stuff "# for p in {..} ; do echo \"open -t $p\" ; done > scratch.html^M"
stuff "# lynx '^M"
stuff "# DEPARTMENT= h '^M"
stuff "echo '"

screen 3
stuff "svn mkdir $COUNTY/$SCHOOL/^M"
stuff "touch $COUNTY/$SCHOOL/address.txt && svn add $COUNTY/$SCHOOL/address.txt^M"
stuff "svn ci $COUNTY/$SCHOOL -m http://$DEPARTMENT.$SCHOOL.edu.tw"

