screen 0
# editing
stuff "# echo -e \\\\n# http://$DEPARTMENT.$SCHOOL.ac.kr >> $LAND/$AREA/$COUNTY/$SCHOOL/address.txt ; v $LAND/$AREA/$COUNTY/$SCHOOL/address.txt ^M"
stuff "# echo -e \\\\n# $URL >> $LAND/$AREA/$COUNTY/$SCHOOL/address.txt ; v {page,address}.sed {prof_page,faculty}.html^M"
stuff "v {prof_page,faculty}.html {address,page,cleanup}.sed /tmp/clip.txt^M"

screen 1
stuff "# curl -L \"\" | sed -e '/site_content_sn=/!d' -f page.sed > scratch.html^M"
stuff "# while read p ; do curl -L \"\${p%\$\'\\r\'}\" | sed -f address.sed | tee -a $LAND/$AREA/$COUNTY/$SCHOOL/address.txt ; done < scratch.html^M"
stuff "# for p in {..} ; do curl -L \"\$p\" | l ; done^M"
stuff "# curl -L \"$URL\" > faculty.html^M"
stuff "# for p in {..} ; do echo \"open -t $p\" ; done > scratch.html^M"
stuff "# lynx '^M"
stuff "# DEPARTMENT= h '^M"
stuff "# echo '^M"

stuff "function sourcer () { readarray -t ul ; for u in \${ul[@]} ; do p=$(trurl \"\$u\" --get [path]) ; q=$(trurl \"\$u\" --get [query]) ; url_assemble -h \"www.\$SCHOOL.ac.kr\" -p \"\$p\" -q \"\$q\"; done }^M"
stuff "# function sourcer() { readarray -t dl ; for d in ${dl[@]} ; do trurl --set path=$d/html/sub02/0201.html https://www.mokwon.ac.kr ; done  }^M"
stuff "# head -n 1 prof_page.html | clip ; paste | address.sed | save ; commit^M"
stuff "p=01/{0301,0401,04}.jsp ^M"
stuff "function sourcer () { ^M"
stuff " readarray -t dl ; ^M"
stuff " for d in \${dl[@]} ; do pa=\"\$d/\$p\" ; ^M"
stuff " trurl --iterate path=\"\$(eval echo \$pa)\" https://home.$SCHOOL.ac.kr ; ^M"
stuff " done  }^M"
stuff "echo faculty_page | Tr | curler | address.sh | save ; commit"

screen 3
stuff "# for i in {2320..2330} ; do  echo \$i ; svn cat -r \$i \^/edit/trunk/email/edit_offer/kr.short.txt | vipe | tee body/kr.short.\$((i+467)).txt > edit_offer/kr.short.txt ; svn ci edit_offer/kr.short.txt -m v\$((i-2317)) ; read next ; done^M"
stuff "# svn mkdir --parents $LAND/$AREA/$COUNTY/$SCHOOL && "
stuff " touch $LAND/$AREA/$COUNTY/$SCHOOL/address.txt && for v in svn git ; do \$v add $LAND/$AREA/$COUNTY/$SCHOOL/address.txt ; done^M"
stuff "# echo -e \"\$A\\\\nsvn: \"; svn st -q \$A; echo and ; echo -n 'git: '; git status \$A | sed -nE '/modified|branch/p'^M"
stuff "# cp $A ~/edit/email/faculty.html^M"
stuff "# svn up $LAND/$AREA/$COUNTY^M"
stuff "# svn ci $LAND/$AREA/$COUNTY/$SCHOOL -m http://$DEPARTMENT.$SCHOOL.ac.kr^M"
stuff "# svn ci \$LAND/\$AREA/\$COUNTY/\$SCHOOL -m '$URL'^M"
stuff "# log_clip &^M"
