# config
#
screen 0
stuff "cd \$(cygpath \$APPDATA/qutebrowser/config)^M"
stuff "v config.py $HOME/edit/email/{paste_{address.bat,link.sh},open_{faculty,prof_page}.bat,open_page.sh}^M"

# userscripts
#
screen 1
stuff "# rm $(cygpath \$APPDATA/qutebrowser/config/userscripts/*.bat})^M"
stuff "# for us in {paste,open}_prof_page paste_address ;  do "
stuff " ln $HOME/edit/email/\$us.bat "
stuff " /cygdrive/c/Users/$USER/AppData/Roaming/qutebrowser/config/userscripts/\$us.bat "
stuff " ; done^M"
stuff "cd \$(cygpath \$APPDATA/qutebrowser/config)^M"
stuff "# chmod 775 userscripts/*.{bat,sh}^M"
stuff "ls -al . userscripts^M"

# email
#
screen 2
stuff "cd ~/edit/email^M"
stuff "ls -al *.{sh,bat,ps1}^M" 

# qutebrowser
#
screen 3
stuff "/cygdrive/c/Program\ Files/qutebrowser/qutebrowser^M" 
