screen 1
stuff "# svn co --depth empty https://github.com/drbean/class/trunk ~/$SEMESTER^M"
stuff "# cd ~/$SEMESTER/^M"
stuff "mkdir ~/$SEMESTER/$LEAGUE/^M"
stuff "cd ~/$SEMESTER/$LEAGUE/^M"
stuff "# ack field ../../$(($SEMESTER-1))/*/league.yaml^M"
stuff "# cp ../../$(($SEMESTER-1))/$LEAGUE/league.yaml ./league.yaml^M"
stuff "# svn cat https://github.com/drbean/class/trunk/$LEAGUE/league.yaml >> league.yaml^M"
stuff "# svn rm https://github.com/drbean/class/trunk/$LEAGUE -m make_way_for_$SEMESTER$LEAGUE^M"
stuff "# school_data.pl -s $SEMESTER -l $LEAGUE | sponge league.yaml^M"
stuff "# for oldsemester in 031 032 041 042 051 052 ; do for oldleague in MA1 MB1 MB2 KA1 KA2 KB1 KB2 ; do [[ -s ../../\$oldsemester/\$oldleague/league.yaml ]] && import_memberdata.pl -l $LEAGUE -o \$oldleague -s $SEMESTER -x \$oldsemester | sponge league.yaml ; done ; done^M"
stuff "# svn add . ^M"
stuff "# merge_email.pl -l $LEAGUE | sponge league.yaml^M"
stuff "# svn commit -m '$SEMESTER$LEAGUE 中級英文聽說訓練 日語文共同學制虛擬班二丙 高來圭. anterior: $(($SEMESTER-1))$LEAGUE, names from: $(($SEMESTER-1))$LEAGUE'^M"
stuff "# svn mkdir session classwork homework comp exam flash^M"
stuff "# chcon -R -t public_content_rw_t ./comp/ ./flash/^M"
stuff "# su -c 'chown -R drbean:apache ./comp/ ./flash/'^M"
stuff "# svn ci session classwork homework comp exam flash -m bare_dirs^M"
stuff "# lftp -c 'open web.nuu.edu.tw && mkdir public_html/$LEAGUE && cd public_html/$LEAGUE && put ~/curriculum/pages/Exam.html && open freeshell.org && mkdir html/$LEAGUE && cd html/$LEAGUE && put ~/curriculum/pages/Exam.html && quit'^M"

screen 2
stuff "cd ~/admin/$SEMESTER/$SCHOOL/^M"
stuff "# for league in $LEAGUES ; do cp ~/admin/$SEMESTER/$SCHOOL/$SEMESTER\${league}.txt ~/admin/$SEMESTER/$SCHOOL/\${league}.txt; done^M"
stuff "cp $SEMESTER${LEAGUE}.txt ${LEAGUE}.txt^M"
stuff "v $SEMESTER${LEAGUE}.csv ${LEAGUE}.txt ${LEAGUE}_email.yaml"

screen 0
stuff "cd ~/$SEMESTER/$LEAGUE && v league.yaml groups.yaml session/$PREVSESSION/groups.yaml" 
