screen 1
stuff "# svn rm https://github.com/drbean/class/trunk/$LEAGUE -m make_way_for_$SEMESTER$LEAGUE^M"
stuff "# svn co --depth empty https://github.com/drbean/class/trunk $SEMESTER"
stuff "# cd ~/$SEMESTER/^M"
stuff "mkdir ~/$SEMESTER/$LEAGUE/^M"
stuff "cd ~/$SEMESTER/$LEAGUE/^M"
stuff "# ack field ../../$(($SEMESTER-1))/*/league.yaml^M"
stuff "# cp ../../$(($SEMESTER-1))/$LEAGUE/league.yaml ./league.yaml^M"
stuff "# school_data.pl -s $SEMESTER -l $LEAGUE | sponge league.yaml^M"
stuff "# import_memberdata.pl -l $LEAGUE -o FLA0026 -s $SEMESTER -x 041 | sponge league.yaml^M" 
stuff "# svn add . ^M"
stuff "# svn commit -m '$SEMESTER$LEAGUE 中級英文聽說訓練 日語文共同學制虛擬班二丙 高來圭. anterior: $(($SEMESTER-1))$LEAGUE, names from: $(($SEMESTER-1))$LEAGUE'^M"
stuff "# svn mkdir session classwork homework comp exam flash^M"
stuff "# chcon -R -t public_content_rw_t ./comp/ ./flash/^M"
stuff "# su -c 'chown -R drbean:swiss ./comp/ ./flash/'^M"
stuff "# svn ci session classwork homework comp exam flash -m bare_dirs^M"
stuff "# lftp -c 'open web.nuu.edu.tw && mkdir public_html/$LEAGUE && cd public_html/$LEAGUE && put ~/class/pagestranscripts/Exam.html && open freeshell.org && mkdir html/$LEAGUE && cd html/$LEAGUE && put ~/class/pagestranscripts/Exam.html && quit'^M"

screen 2
stuff "cd ~/admin/$SEMESTER/$SCHOOL/^M"
stuff "# cp ~/media/$SEMESTER${LEAGUE}.* ./^M"
stuff "cp $SEMESTER${LEAGUE}.txt ${LEAGUE}.txt^M"
stuff "v $SEMESTER${LEAGUE}.txt ${LEAGUE}.txt ${LEAGUE}_cohort.txt"

screen 0
stuff "cd ~/$SEMESTER/$LEAGUE && v league.yaml groups.yaml session/$PREVSESSION/groups.yaml email.yaml" 
