screen 9
stuff "man stow^M"

# dot

screen
stuff "cd ~/stow/^M"
stuff "ls -al^M"
stuff "declare -a command=( \"inputrc\" \"bash_profile\" \"bashrc\" )^M"
stuff "# for rc in \${command[@]} ; do diff -u ~/dot/bash/\$rc ~/stow/dot/.\$rc ; done^M"
stuff "# for rc in \${command[@]} ; do diff -u ~/dot/bash/\$rc ~/.\$rc ; done^M"
stuff "# rm ~/stow/dot/{.inputrc,.bash_profile,.bashrc}^M"
stuff "# for rc in \${command[@]} ; do ln ~/dot/bash/\$rc ~/stow/dot/.\$rc ; done^M"
stuff "# for rc in vimrc ; do ln ~/dot/vim/cygwin/\$rc ~/stow/dot/.\$rc ; done^M"
stuff "# stow -n --verbose=2 -t ~ -R dot^M"

# bash_completion

screen
stuff "cd ~/stow/^M"
stuff "ls -al^M"
stuff "declare -a command=( \"pages\" \"edit\" \"tt\" )^M"
stuff "# for c in \${command[@]} ; do diff -u ~/dot/bash/bash_completion/\$c ~/stow/bash_completion/\$c ; done^M"
stuff "# for c in \${command[@]} ; do diff -u ~/dot/bash/bash_completion/\$c /etc/bash_completion.d/\$c ; done^M"
stuff "# rm ~/stow/bash_completion/tt^M"
stuff "# for c in \${command[@]} ; do ln ~/dot/bash/bash_completion/\$c ~/stow/bash_completion/\$c ; done^M"
stuff "# stow -n --verbose=2 -t /etc/bash_completion.d -R bash_completion^M"

# root Azy4476

stuff "ssh root^M"
