screen 0
# stuff "# toot activate \$ACCOUNT ; toot tui^M"
screen 2
screen 3
screen 4

screen 1
stuff "toot -h^M"
stuff "toot auth^M"
stuff "# toot auth | sed -nE '/ACTIVE/s/\^.+(@[\^[:space:]]+)[[:space:]].+\$/drbean\\1/p' > ur_auth && toot activate drbean@mstdn.jp && echo 'ADSL Wi-Fiルーターの欲しい人！に上げます。詳細は http://drbean.sdf.org/WebCaster3100SV.html' | toot post && toot activate drbean@mastodon-japan.net && echo 'ADSL Wi-Fiルーターの欲しい人！に上げます。詳細は http://drbean.sdf.org/WebCaster3100SV.html' | toot post && toot activate \$(< ur_auth)^M"
stuff "# echo    | tr ' ' '+' | while read q ; do cygstart \"https://google.com/search?q=\$q&udm=14\" ; done^M"
stuff "# c https://duckduckgo.com/?q=^M"
stuff "active_tooter^M"

