screen 1 lftp sftp://drbean@freeshell.org
screen 2 mutt
screen 3 
stuff "# FTP_PASSWORD='' PASSPHRASE='' duplicity --exclude /home/drbean/soundfiles --exclude /home/drbean/下載 /home/drbean ftp://greg@web.nuu.edu.tw/duplicity/sac_drbean_fedora25"
screen 4 su -
screen 5 ssh -L 5901:localhost:5901 drbean@sac.nuu.edu.tw
screen 9
stuff "man httpd_selinux"
screen 0
stuff "ssh drbean@freeshell.org^M"
stuff "password_here^M"
stuff "./.bin/mutt^M"
