# lftp

screen 1 lftp sftp://drbean@freeshell.org

# muttrc

screen 3 
stuff "# v ~/.muttrc^M"

# mutt

screen 2
stuff "mutt"

# sdf

screen 0
stuff "# mosh drbean@freeshell.org --server='LANG=en_US.UTF-8 mosh-server'^M"
stuff "ssh -o ConnectTimeout=120 sdf^M"

