# pages

screen 3
stuff "cd ~/stow/^M"
stuff "ls -al^M"
stuff "declare -a command=( \"active_tooter\" \"blog.sh\" \"common.sh\" \"masto_master_messter\" \"post.sh\" \"toot\" )^M"
stuff "# for app in \${command[@]} ; do diff -u ~/curriculum/pages/homepage/markdown/\$app ~/stow/pages/bin/\$app ; done^M"
stuff "# for app in \${command[@]} ; do diff -u ~/curriculum/pages/homepage/markdown/\$app /usr/local/bin/\$app ; done^M"
stuff "# for app in \${command[@]} ; do rm ~/stow/pages/bin/\$app ; done^M"
stuff "# for app in \${command[@]} ; do ln ~/curriculum/pages/homepage/markdown/\$app ~/stow/pages/bin/\$app ; done^M"
stuff "# stow -n --verbose=2 -t /usr/local/bin -R pages^M"


