# screen cygstart "/cygdrive/c/Program\ Files/Pandoc/Pandoc\ User\'s\ Guide.html"
# screen bash -c cygstart /cygdrive/c/Program\ Files/Pandoc/Pandoc\ User\'s\ Guide.html
screen cygstart https://pandoc.org/MANUAL.html
screen man pandoc
