[Unit]
Description=Set org.gnome.desktop.background picture_uri, org.mate.background picture_filename

[Timer]
OnBootSec=4min

[Install]
WantedBy=timers.target
