screen v -S Session.vim
screen
stuff "svk st -q^Msvk log -vr BASE:HEAD^M"
stuff "perl script/loadYAMLid.pl ~/class/$COURSE/${APP}.yaml $STORY^M"
stuff "perl script/$SCRIPT $STORY"
screen
stuff "perl script/grade_dic.pl -l $LEAGUE -x $OLD_STORY -o 20 -t 80 > ~/012/$LEAGUE/homework.yaml^M"
stuff "perl delete_exercise.pl $OLD_STORY"
screen 4 sudo su - postgres
stuff "psql ${APP}012^M"
screen 7
stuff "cd /var/www/cgi-bin/$APP^M"
