screen
stuff "# v script"
screen
stuff "cd branch/gf^M"
stuff "svn st -q^Msvn log -vr BASE:HEAD^M"
screen
stuff "export HISTTIMEFORMAT='%m-%d '^M"
stuff "# perl script/loadYAMLid.pl ~/class/$COURSE/$TOPIC/${APP}.yaml $STORY^M"
stuff "# perl script/create_exercise.pl $SCRIPT_ARG $STORY^M"
stuff "# history -a^M"
stuff "# export HISTTIMEFORMAT=^M"
screen
stuff "export HISTTIMEFORMAT='%m-%d '^M"
stuff "# sudo systemctl stop httpd.service^M"
stuff "# perl script/grade_${APP}.pl -l $LEAGUE -q 3 -o 1 -w 2 -x $OLD_STORY > ~/022/$LEAGUE/homework.yaml^M"
stuff "# perl script/delete_exercise.pl -i $OLD_STORY -g $COURSE^M"
stuff "# sudo systemctl start httpd.service^M"
stuff "# less ~/022/$LEAGUE/homework.yaml^M"
stuff "# mv ~/022/$LEAGUE/homework.yaml ~/022/$LEAGUE/homework/$ROUND.yaml^M"
stuff "# svn add ~/022/$LEAGUE/homework/$ROUND.yaml^M"
stuff "# svn ci -m $OLD_STORY ~/022/$LEAGUE/homework/$ROUND.yaml^M"
stuff "svn st -q ~/022/$LEAGUE/homework^M"
stuff "# history -a^M"
stuff "# export HISTTIMEFORMAT=^M"
screen 4 sudo su - postgres
stuff "psql ${APP}022^M"
screen 7
stuff "cd /var/www/cgi-bin/$APP^Msvn st -q^Msvn log -vr BASE:HEAD^M"
stuff "# perl script/words.pl -s $STORY && perl script/characters.pl -s $STORY^M"
screen 8
stuff "links http://localhost/cgi-bin/${APP}/script/${APP}_cgi.pl/login?exercise=$STORY"
