screen 1
stuff "cd ~/gf-3.7.1/^M cd -^M"
stuff "cd ~/$STORY/^M# mkdir -p src/engine/Data/{DRS/Input,FOL}^M cd -^M"
stuff "cd ~/GF/gf-contrib^M# mkdir -p drbean/$COURSE/$TOPIC/$STORY/engine/Data/{DRS/Input,FOL}^M cd -^M"
stuff "# ln -s ~/GF/gf-contrib/drbean/{Interpretation,Translate,LogicalForm,Evaluation}.hs ~/GF/gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/^M"
stuff "# cp ~/GF/gf-contrib/drbean/My{Abstract,Concrete}.gf ~/GF/gf-contrib/drbean/{Representation,Transfer}.hs ~/GF/gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/^M"
stuff "# ln -s ~/GF/gf-contrib/drbean/$COURSE/$TOPIC/$STORY/*.{gf,hs} ~/$STORY/src/^M"
stuff "# ln -s ~/GF/gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/*.{gf,hs} ~/$STORY/src/engine/^M"
stuff "# ln -s ~/dot/git/pdrt-sandbox/src/Data/*.hs ~/GF/gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/Data/^M"
stuff "# ln -s ~/dot/git/pdrt-sandbox/src/Data/DRS/*.hs ~/GF/gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/Data/DRS/^M"
stuff "# ln -s ~/dot/git/pdrt-sandbox/src/Data/DRS/Input/*.hs ~/GF/gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/Data/DRS/Input/^M"
stuff "# ln -s ~/dot/git/pdrt-sandbox/src/Data/FOL/*.hs ~/GF/gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/Data/FOL/^M"
stuff "# ln -s ~/dot/git/pdrt-sandbox/src/Data/DRS.hs ~/$STORY/src/engine/Data^M"
stuff "# ln -s ~/dot/git/pdrt-sandbox/src/Data/DRS/*.hs ~/$STORY/src/engine/Data/^M"
stuff "git status^M"
stuff "# git fetch upstream^M"
stuff "# git merge upstream/master^M"
screen 2
stuff "cd gf-contrib/drbean/$COURSE/$TOPIC/$STORY^M cd -^M"
stuff "~/gf-3.7.1/.stack-work/install/i386-linux/lts-5.2/7.10.3/bin/gf --coding=utf8^M"
stuff "import /home/drbean/$STORY/src/${MOD}Eng.gf^M"
stuff "import gf-contrib/drbean/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf^M"
screen 3
stuff "cd gf-contrib/drbean/$COURSE/$TOPIC/$STORY/^M"
stuff "# ~/gf-3.7.1/.stack-work/install/i386-linux/lts-5.2/7.10.3/bin/gf --make --output-format=haskell ${MOD}Eng.gf^M"
stuff "ghc -o /var/www/cgi-bin/bett/bin/Transfer_$STORY -i./:./engine:../:../../../ ../../../Transfer.hs && ghc -o /var/www/cgi-bin/bett/bin/Characters_$STORY -i./:./engine:../:./../../ ~/bett/script/Characters.hs && ghc -o /var/www/cgi-bin/bett/bin/Words_$STORY -i./:./engine:../:./../../ /var/www/cgi-bin/bett/script/ShowWords.hs && cp ${MOD}.pgf /var/www/cgi-bin/bett/bin/${MOD}.pgf && perl /var/www/cgi-bin/bett/script/characters.pl -s $STORY && perl /var/www/cgi-bin/bett/script/words.pl -s $STORY^M"
stuff "# stack ghci --ghci-options -i./:./engine:../:../../../^M"
stuff "ghci -i./:./engine:./engine/Data:../:../../../^M"
stuff ":"
stuff ":load Tests^M"
stuff "let gr = readPGF \"${MOD}.pgf\"^M":
# stuff "./Transfer_$STORY^M"
# stuff "cd -^M"
screen 4
stuff "cd gf-contrib/drbean/$COURSE/$TOPIC/$STORY/^M"
stuff "# ~/gf-3.7.1/.stack-work/install/i386-linux/lts-5.2/7.10.3/bin/gf --make --output-format=haskell ${MOD}Eng.gf^M"
stuff "ghc -o /var/www/cgi-bin/bett/bin/Transfer_$STORY -i./:./engine:../:../../../ ../../../Transfer.hs && ghc -o /var/www/cgi-bin/bett/bin/Characters_$STORY -i./:./engine:../:./../../ ~/bett/script/Characters.hs && ghc -o /var/www/cgi-bin/bett/bin/Words_$STORY -i./:./engine:../:./../../ /var/www/cgi-bin/bett/script/ShowWords.hs && cp ${MOD}.pgf /var/www/cgi-bin/bett/bin/${MOD}.pgf && perl /var/www/cgi-bin/bett/script/characters.pl -s $STORY && perl /var/www/cgi-bin/bett/script/words.pl -s $STORY^M"
stuff "ghci -i./:./engine:../:../../../^M"
stuff ":"
stuff ":load Tests^M"
stuff "let gr = readPGF \"${MOD}.pgf\"^M":
# stuff "./Transfer_$STORY^M"
# stuff "cd -^M"
screen 5
stuff "sr W file://localhost/home/drbean/GF/doc/gf-refman.html^M"
stuff "sr W file://localhost/home/drbean/GF/doc/tutorial/gf-tutorial.html^M"
stuff "sr W file://localhost/home/drbean/GF/lib/doc/synopsis.html^M"
stuff "sr W file://localhost/home/drbean/GF/doc/gf-reference.html^M"
stuff "sr W file://localhost/home/drbean/GF/doc/gf-developers.html^M"
stuff "sr W file:///usr/share/doc/ghc/html/index.html^M"
# stuff "/usr/bin/links http://hackage.haskell.org/package/gf-3.6/docs/^M"
screen 11
stuff "v -O gf-contrib/drbean/$COURSE/$TOPIC/$STORY/{$MOD,engine/{Representation,LogicalForm,Translate,Interpretation,Evaluation,Transfer}}.hs"
screen 0
# stuff "v -O gf-contrib/drbean/{$COURSE/$TOPIC/$STORY/$MOD,Representation,LogicalForm,Translate,Interpretation,Evaluation,Transfer}.hs"
# stuff "v -O $(< ~/dot/gf_files.txt)"
# stuff "v -O gf-contrib/drbean/Representation.hs gf-contrib/drbean/MyAbstract.gf gf-contrib/drbean/MyConcrete.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/${MOD}.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/Model.hs gf-contrib/drbean/$COURSE/$TOPIC/$STORY/Tests.hs"
stuff "v -O gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/MyAbstract.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/engine/MyConcrete.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/Model.hs gf-contrib/drbean/$COURSE/$TOPIC/$STORY/Tests.hs gf-contrib/drbean/$COURSE/$TOPIC/$STORY/${MOD}.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/WordsCharacters.hs"
# stuff "v -O ~/class/$COURSE/$TOPIC/dic.yaml gf-contrib/drbean/$COURSE/$TOPIC/$STORY/${MOD}.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/${MOD}Eng.gf gf-contrib/drbean/$COURSE/$TOPIC/$STORY/Tests.hs"
# stuff "v -O gf-contrib/drbean/$COURSE/$TOPIC/$STORY/WordsCharacters.hs gf-contrib/drbean/$COURSE/$TOPIC/$STORY/Model.hs gf-contrib/drbean/$COURSE/$TOPIC/$STORY/Tests.hs"
