screen v contrib/drbean/business/careers/candidate/Transfer.hs
screen
stuff "git status^Mgit log^M"
screen
stuff "gf -coding utf-8^M import contrib/drbean/business/careers/candidate/CandidateEng.gf^M "
screen ghci
# screen ghci -i./:../business/:../business/marketing/:../business/marketing/shoes/
stuff ":"
# stuff ":load Tests^M":
screen
stuff "links doc/gf-refman.html^Mg doc/tutorial/gf-tutorial.html^Mg lib/doc/synopsis.html^Mg doc/gf-reference.html"
