screen 1
stuff "# svn mkdir file:///home/drbean/.svk/local/cl/$LEAGUE -m 032$LEAGUE      中級英文聽說訓練        日語文共同學制虛擬班二丙        高來圭^M"
stuff "# cd ~/032/^M"
stuff "# svn co file:///home/drbean/.svk/local/cl/$LEAGUE^M"
stuff "cd ~/032/$LEAGUE/^M"
stuff "# cp ../../022/$LEAGUE/league.yaml ./league.yaml^M"
stuff "# svn mkdir session classwork homework comp exam^M"
stuff "# svn mkdir session/$SESSION^M"
stuff "# school_data.pl -s 032 -l $LEAGUE | sponge league.yaml^M"
stuff "# re.pl --rcfile ../rc/import_memberdata.rc^M"
stuff "# svn add league.yaml^M"
stuff "# chcon -t public_content_rw_t ./comp/ -R^M"
stuff "# su -c 'chown drbean:swiss ./comp/ -R'^M"

screen 2
stuff "cd ~/admin/032/nuu/^M"
stuff "# cp ~/media/032${LEAGUE}.* ./^M"
stuff "cp 032${LEAGUE}.txt ${LEAGUE}.txt^M"
stuff "v 032${LEAGUE}.txt ${LEAGUE}.txt"

screen 0
stuff "cd ~/032/$LEAGUE^M"
stuff "v league.yaml groups.yaml session/$PREVSESSION/groups.yaml" 
