screen v -S Session.vim
screen
stuff "svn st -q^Msvn log -vr BASE:HEAD^M"
stuff "# cp haskell_after.vim ~/.vim/after/ftplugin/^M"
stuff "# su -c 'cp vimrc.sac /etc/vimrc'^M"
stuff "# su -c 'cp vim-gf/ftdetect/gf.vim /usr/share/vim/vimfiles/ftdetect/'^M"
stuff "# su -c 'cp vim-gf/syntax/gf.vim /usr/share/vim/vimfiles/syntax/'^M"
stuff "# cd vim && git clone https://github.com/drbean/perl-tags.git && cd vim-gf && git remote add upstream https://github.com/osfameron/perl-tags && git fetch upstream && git merge upstream/master && cd ../..^M"
stuff "# cd vim && git clone https://github.com/drbean/perl-tags-moose.git && cd vim-gf && git remote add upstream https://github.com/nothingmuch/perl-tags-moose && git fetch upstream && git merge upstream/master && cd ../..^M"

