# edit

screen 0
stuff "cd ~/profedit/\$SOURCE^M"
register q "\""
bind K eval 'select 1' 'stuff "^C# svn ci \$F -m "' 'paste q' "stuff \"\${PREV}: \"" 'paste q' "activity \"\^G last log message, section\""
stuff "v --cmd 'set spellfile=spell.en.utf-8.add' \$FILE.md^M"

