# pandoc

screen 2
stuff "cd ~/profedit/\$SOURCE^M"
stuff "# for o in touch rm ; do \$o output/\$FILE.pdf ; done && xelatex --output-directory=output \$FILE.tex && cygstart output/\$FILE.pdf^M"
stuff "# cd \$REPO^M"
stuff "# pandoc -o \$FILE.reference.docx --print-default-data-file reference.docx^M"
stuff "# svn add reference.docx^M"
stuff "# svn ci reference.docx -m styles_for_$SOURCE^M"
stuff "# mv {,orig_}\$FILE.docx^M"
stuff "# cp {orig_,their_}$FILE.docx^M"
stuff "# cp {orig_,}\$FILE.md^M"
stuff "# pandoc -o orig_\$FILE.md --from=docx+styles --to=markdown-link_attributes --extract-media=./ \$FILE.docx^M"
stuff "# MINE=my_\$FILE; pandoc -o \$MINE.docx --reference-doc=./\$FILE.reference.docx \$FILE.md^M"


