# vcs

screen 1
stuff "cd ~/profedit/\$SOURCE^M"
stuff "# mv \$SOURCE ~/profedit/orig.\$SOURCE^M"
stuff "# git init \$SOURCE^M"
stuff "# cd ~/profedit/\$SOURCE^M"
stuff "# git branch -m main \$OLD_REPO^M"
stuff "# git remote add origin https://github.com/drbean/edit^M"
stuff "# git remote add \$REPO https://github.com/\$SOURCE/\$REPO^M"
stuff "# git fetch \$REPO^M"
stuff "# git switch -c main --track \$REPO/main^M"
stuff "# mv .git ../git.\$SOURCE.\$REPO^M"
stuff "# cd ~/profedit && rmdir \$SOURCE^M"
stuff "# mv ~/profedit/orig.\$SOURCE \$SOURCE^M"
stuff "# git add \$FILE.md && git commit \$FILE.md^M"
stuff "# git branch --set-upstream-to=remotes/origin/\$SOURCE^M"
stuff "# git push origin HEAD:\$SOURCE^M"
stuff "# git config --local push.default upstream^M"
stuff "# git push  --dry-run^M"
stuff "# git pull origin \$SOURCE^M"
stuff "# git merge --no-ff --allow-unrelated-histories^M"
stuff "# echo contact details > ~/profedit/\$SOURCE/svn-commit.tmp^M"
stuff "# svn mkdir file:///srv/svn/esprimo/edit/branch/\$SOURCE -F svn-commit.tmp^M"
stuff "# echo their_\$FILE_filename.docx > ~/profedit/\$SOURCE/svn-commit.tmp^M"
stuff "cd ~/profedit/\$SOURCE^M"
stuff "# svn import \$SOURCE file:///srv/svn/esprimo/edit/branch/\$SOURCE/\$REPO -F svn-commit.tmp^M"
stuff "# svn checkout file:///srv/svn/esprimo/edit/branch/\$SOURCE/\$REPO $SOURCE --force^M"
stuff "# mv ~/profedit/git.\$SOURCE.\$REPO ~/profedit/\$SOURCE/.git^M"
stuff "cd ~/profedit/\$SOURCE^M"
stuff "# for v in svn git ; do \$v add \$FILE.md issues.md ; done^M"
stuff "# echo -e '\\nsvn: '; svn st -q \$FILE.md issues.md; echo -e '\\nand\\n' ; echo -n 'git: '; git status $FILE.md issues.md | sed -nE '/modified|branch/p'^M"


