[Unit]
Description=Set org.gnome.desktop.background picture_uri

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/home/drbean/picture_uri.pl
