[Unit]
Description=status email for %I to drbean

[Service]
Type=oneshot
ExecStart=/usr/local/bin/unit-error-email.sh "drbean@freeshell.org" %i
User=nobody
Group=systemd-journal

