[Unit]
Description=Set org.gnome.desktop.background picture_uri, org.mate.background picture_filename

[Timer]
OnCalendar=*:0/5
Persistent=True
Unit=desktop_background@%i.service

[Install]
WantedBy=timers.target
