# repo: svn repo dir creation

screen 7
stuff "cd ~/dot^M"
stuff "# for repo in curriculum ; do rm -rf /srv/svn/\$repo && svnadmin create /srv/svn/\$repoo && svn mkdir file:///srv/svn/\$repo/trunk -m \"\$repo: trunk\"; done^M"
stuff "# cd && for p in '' ; do mv \$p ~/orig_\$p.svn && git init \$p && cd \$p && git remote add origin https://github.com/drbean/\$p && git branch --set-upstream-to=origin/master master && git fetch origin && git merge origin/master^M"
stuff "# for p in '' ; do svn mkdir -m \"Creating *\$p* project in esprimo repo, following https://svnbook.red-bean.com/en/1.7/svn-book.html#svn.ref.svn.c.checkout\" file:///srv/svn/esprimo/\$p && svn import -m \"import initial github \$p repo codebase\" \$p file:///srv/svn/esprimo/\$p/trunk && svn checkout file:///srv/svn/esprimo/\$p/trunk \$p --force ; done^M"


