# vcs: svn, git

screen 3
stuff "cd ~/dot^M"
stuff "cd ~/dot/vcs^M"
stuff "# cp ignore ~/.config/git/ignore^M"
# stuff 'for repo in git-hub git-subrepo ; do git clone https://github.com/drbean/$repo.git && cd $repo && git remote add upstream https://github.com/ingydotnet/$repo.git && git fetch upstream && git merge upstream/master && cd .. ; done^M'
stuff "# for v in svn git ; do \$v status | head ; done^M"


