screen v script
screen
stuff "cd branch/gf^M"
stuff "svn st -q^Msvn log -vr BASE:HEAD^M"
screen
stuff "# perl script/loadYAMLid.pl ~/class/$COURSE/$TOPIC/${APP}.yaml $STORY^M"
stuff "# perl script/create_exercise.pl $SCRIPT_ARG $STORY^M"
screen
stuff "# sudo systemctl stop httpd.service^M"
stuff "# perl script/grade_${APP}.pl -l $LEAGUE -x $OLD_STORY > ~/021/$LEAGUE/homework.yaml^M"
stuff "# perl script/delete_exercise.pl -i $OLD_STORY -g $COURSE^M"
stuff "# sudo systemctl start httpd.service^M"
stuff "# less ~/021/$LEAGUE/homework.yaml^M"
stuff "# mv ~/021/$LEAGUE/homework.yaml ~/021/$LEAGUE/homework/ROUND.yaml^M"
stuff "svn st -q ~/021/$LEAGUE/homework^M"
screen 4 sudo su - postgres
stuff "psql ${APP}021^M"
screen 7
stuff "cd /var/www/cgi-bin/$APP^Msvn st -q^Msvn log -vr BASE:HEAD^M"
screen 8
stuff "links http://localhost/cgi-bin/${APP}/script/${APP}_cgi.pl/login?exercise=$STORY"
