screen v league.yaml classwork/$SESSION/groups.yaml classwork/$LASTWEEK.yaml
screen
stuff "svn st -q^Msvn log -vr BASE:HEAD^M"
stuff "ls classwork^M"
stuff "svn ls classwork/$SESSION^M"
stuff "# svn revert classwork/$SESSION/$LASTWEEK.yaml^M"
stuff "# svn mv classwork/$SESSION/$LASTWEEK.yaml classwork/$LASTWEEK.yaml^M"
screen
stuff "# conversation.pl -l $LEAGUE -s $SESSION -r $WEEK -x $TOPIC -p $LETTER -t $TABLES && xelatex classwork/$SESSION/conversation.tex && evince conversation.pdf^M"
stuff "# lpr conversation.pdf -P kyocera^M"
screen re.pl --rcfile ../rc/g.rc
stuff '$g->grades'
screen lftp web.nuu.edu.tw
stuff "cd public_html/$LEAGUE^M"
