screen 0
stuff "v slides.txt $TOPIC/dic.yaml $TOPIC/cards.yaml $TOPIC/slides.txt $TOPIC/questionsA5.tex $TOPIC/$STORY/Model.hs ~/GF/gf-contrib/$COURSE/$TOPIC/$STORY/Model.hs  ~/GF/gf-contrib/$COURSE/$TOPIC/$STORY/Story_Interpretation.hs  ~/GF/gf-contrib/$COURSE/$TOPIC/$STORY/Tests.hs"
screen
stuff "svn st -q^M svn log -vr BASE:HEAD^M"
stuff "cd ./$TOPIC && pandoc -t beamer --latex-engine=xelatex --variable mainfont='WenQuanYi Zen Hei' slides.txt -o slides.pdf && lftp -c 'open web.nuu.edu.tw && cd public_html/$VIEW && put slides.pdf && qui' && cd -^M"
# stuff "cd ./$TOPIC && vroom -html && lftp -c 'open web.nuu.edu.tw && cd public_html/$VIEW && mput html/*.html && qui' && cd -^M"
stuff "# bingo.pl -n 15 -s $STORY -f 0 $TOPIC && xelatex $TOPIC/bingo_${STORY}_0.tex && evince bingo_${STORY}_0.pdf^M"
stuff "# cp bingo_${STORY}_0.pdf /media/drbean^M"
stuff "# lpr bingo_${STORY}_0.pdf -P kyocera^M"
screen
stuff "# perl ../cclass/cards.pl ./$TOPIC && xelatex ./\$TOPIC/jigsaw_${STORY}_$FORM.tex && evince jigsaw_${STORY}_$FORM.pdf^M"
stuff "# perl ../cclass/cards.pl ./$TOPIC && xelatex ./\$TOPIC/quiz_${STORY}_$FORM.tex && evince quiz_${STORY}_$FORM.pdf^M"
stuff "# sudo mount -t vfat /dev/sdb1 /media/drbean/^M"
stuff "# sudo cp jigsaw_${STORY}_$FORM.pdf quiz_${STORY}_$FORM.pdf /media/drbean^M"
stuff "# sudo umount /media/drbean^M"
screen ghci -i../csfp/:./:./$TOPIC:./$TOPIC/$STORY/
stuff ":load Tests^M":
screen
stuff "# gf --make --output-format=haskell ${MOD}Eng.gf^M"
stuff "ghc -o /var/www/cgi-bin/bett/bin/Transfer_$STORY -i./:../:../../../ ../../../Transfer.hs && ghc -o /var/www/cgi-bin/bett/bin/Characters_$STORY -i./:../:./../../ ~/bett/script/Characters.hs && ghc -o /var/www/cgi-bin/bett/bin/Words_$STORY -i./:../:./../../ /var/www/cgi-bin/bett/script/ShowWords.hs && cp ${MOD}.pgf /var/www/cgi-bin/bett/bin/${MOD}.pgf && perl /var/www/cgi-bin/bett/script/characters.pl -s $STORY && perl /var/www/cgi-bin/bett/script/words.pl -s $STORY^M"
screen lftp greg@web.nuu.edu.tw
stuff "cd /public_html/$VIEW^Mls"
