screen v league.yaml classwork/$ROUND/groups.yaml groups.yaml classwork/$NEXTROUND/groups.yaml 
screen
stuff "re.pl --rcfile ../rc/g.rc^M"
stuff '$g->grades'
screen
stuff "# lftp -c 'open web.nuu.edu.tw && cd public_html/grades && put grades.txt -o $LEAGUE.txt && qui'^M# print_grades.pl > grades.txt^M# teamseat.pl -s $NEXTROUND^M# lpr teamseat.pdf^M# teamseat.pl -s $NEXTROUND --latex && xelatex classwork/$NEXTROUND/teamseat.tex && evince teamseat.pdf^M# mv groups.yaml classwork/$NEXTROUND/groups.yaml^M# svk revert classwork/$NEXTROUND^M# create_groups.pl -s $NEXTROUND -n $N | sponge groups.yaml^M ls classwork/"
screen
stuff "cd ~/021/$LEAGUE^M# update_db.pl -l $LEAGUE -r $ROUND^M# sum_g1_g2.pl -l $LEAGUE -r $ROUND > exam/$ROUND/g.yaml^M# score_comp.pl -r $ROUND > comp/$ROUND/scores.yaml^M# comptron.pl -l $LEAGUE -r $ROUND -x 1 > comp/$ROUND/response.yaml^M# round_table.pl -l $LEAGUE -r $ROUND ^M# create_round.pl -l $LEAGUE -r $ROUND -x $FORM > comp/$ROUND/round.yaml^M# svn revert comp/$ROUND^M ls comp^M"
screen
stuff "# svn ci -m $TOPIC exam/$ROUND comp/$ROUND^M"
stuff "svn st -q^M svn log -vr BASE:HEAD^M"
stuff "ls exam/^M# svn revert exam/$ROUND^M# cp ../BMA0041/exam/$ROUND/round.yaml exam/$ROUND/round.yaml^M# scantron.pl -l $LEAGUE -r $ROUND > exam/$ROUND/response.yaml^M# score_jigsaw.pl -r $ROUND > exam/$ROUND/scores.yaml^M# grade_jigsaw.pl -r $ROUND -n $N > exam/$ROUND/g1.yaml^M# xelatex report.tex && evince report.pdf^M# lftp -c 'open web.nuu.edu.tw && cd public_html/$LEAGUE && put report.pdf'^M ls exam/"
