screen
stuff "v $(< ~/dot/gf_files.txt)"

screen
stuff "cd gf-contrib^M cd -^M"
stuff "git status^M"
stuff "# git fetch upstream^M"
stuff "# git merge upstream/master^M"
screen
stuff "cd gf-contrib/drbean/business/careers/candidate/^M cd -^M"
stuff "cd gf-contrib/drbean/conversation/work/dickson/^M cd -^M"
stuff "cd gf-contrib/drbean/call/intros/AFB1J0^M cd -^M"
stuff "gf -coding utf-8^M import gf-contrib/drbean/call/intros/AFB1J0/AFB1J0Eng.gf^M "
screen
stuff "cd gf-contrib/drbean/business/careers/candidate/^M cd -^M"
stuff "cd gf-contrib/drbean/conversation/work/dickson/^M"
stuff "cd gf-contrib/drbean/call/intros/AFB1J0/^M"
stuff "# gf --make --output-format=haskell AFB1J0Eng.gf && ghc -o /var/www/cgi-bin/bett/bin/Transfer_AFB1J0 -i./:../:../../../ Transfer.hs && ghc -o /var/www/cgi-bin/bett/bin/Characters_AFB1J0 -i./:../:./../../ ~/bett/script/Characters.hs && ghc -o /var/www/cgi-bin/bett/bin/Words_AFB1J0 -i./:../:./../../ /var/www/cgi-bin/bett/script/ShowWords.hs && cp AFB1J0.pgf /var/www/cgi-bin/bett/bin/AFB1J0.pgf && perl /var/www/cgi-bin/bett/script/characters.pl -s AFB1J0 && perl /var/www/cgi-bin/bett/script/words.pl -s AFB1J0^M"
# stuff "./Transfer^M"
stuff "ghci -i./:../:../../../^M"
# stuff ":"
stuff ":load Tests^M"
stuff "let gr = readPGF \"Dickson.pgf\"^M":
screen
stuff "/usr/bin/links file://localhost/home/drbean/GF/doc/gf-refman.html^M"
screen
stuff "/usr/bin/links file://localhost/home/drbean/GF/doc/tutorial/gf-tutorial.html^M"
screen
stuff "/usr/bin/links file://localhost/home/drbean/GF/lib/doc/synopsis.html^M"
screen
stuff "/usr/bin/links file://localhost/home/drbean/GF/doc/gf-reference.html^M"
screen
stuff "/usr/bin/links file://localhost/home/drbean/GF/doc/gf-developers.html^M"
