screen 1
stuff "# svn mkdir http://svn.openfoundry.org/class/$LEAGUE -m 042$LEAGUE      中級英文聽說訓練        日語文共同學制虛擬班二丙        高來圭^M"
stuff "# cd ~/042/^M"
stuff "# svn co http://svn.openfoundry.org/class/$LEAGUE^M"
stuff "cd ~/042/$LEAGUE/^M"
stuff "# ack field ../../041^M"
stuff "# cp ../../041/$LEAGUE/league.yaml ./league.yaml^M"
stuff "# svn mkdir session/$SESSION^M"
stuff "# svn mkdir session classwork homework comp exam flash^M"
stuff "# school_data.pl -s 042 -l $LEAGUE | sponge league.yaml^M"
stuff "# import_memberdata.pl -l $LEAGUE -o FLA0026 -s 042 -o 041^M"
stuff "# svn add league.yaml^M"
stuff "# chcon -R -t public_content_rw_t ./comp/ ./flash/^M"
stuff "# su -c -R 'chown drbean:swiss ./comp/ ./flash/'^M"

screen 2
stuff "cd ~/admin/042/nuu/^M"
stuff "# cp ~/media/042${LEAGUE}.* ./^M"
stuff "cp 042${LEAGUE}.txt ${LEAGUE}.txt^M"
stuff "v 042${LEAGUE}.txt ${LEAGUE}.txt"

screen 0
stuff "cd ~/042/$LEAGUE^M"
stuff "v league.yaml groups.yaml session/$PREVSESSION/groups.yaml" 
