screen v -S Session.vim
screen
stuff "svn st -q^Msvn log -vr BASE:HEAD^M"
stuff "# cp haskell_after.vim ~/.vim/after/ftplugin/^M"
stuff "# su -c 'cp vimrc.sac /etc/vimrc'^M"
stuff "# su -c 'cp vim-gf/ftdetect/gf.vim /usr/share/vim/vimfiles/ftdetect/'^M"
stuff "# su -c 'cp vim-gf/syntax/gf.vim /usr/share/vim/vimfiles/syntax/'^M"

