# userscript
#
screen 1
stuff "# rm $(cygpath \$APPDATA/qutebrowser/config/userscripts/*.bat})^M"
stuff "# for us in {paste,open}_prof_page paste_address ;  do "
stuff " ln $HOME/edit/email/\$us.bat "
stuff " /cygdrive/c/Users/$USER/AppData/Roaming/qutebrowser/config/userscripts/\$us.bat "
stuff " ; done^M"
stuff "cd \$(cygpath \$APPDATA/qutebrowser/config)^M"
stuff "# chmod 775 userscripts/*.{bat,sh}^M"
stuff "ls -al . userscripts^M"


